@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --primary-purple: #6D28D9;
    --primary-green: #10B981;
    --primary-skin: #FFDBAC;

}

body {
    max-width: 40%;
    font-family: 'PT Serif', serif;
    margin: auto;
    margin-top: 1rem;
    border: 3px solid black;
    border-radius: 5rem;
}

pre{
    font-size: 20px;
}

.navigation{
    padding:40px; 
    text-align: center;
    background-color:var(--primary-green);
    border-radius: 5rem 5rem 0rem 0rem;
}

.hero{
    text-align: center;
    background-color: var(--primary-green);
    margin-top: 0%;
    margin-bottom: 0%;
}

.section-yellow{
    text-align: center;
    background-color: var(--primary-skin);
    
}

#txt-input{
    margin-top:1rem;
    width: 400px;
	height: 120px;
    padding: 2rem;
}

#btn{
    background-color: var(--primary-skin);
}

#btn-translate{
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 1rem;
    background-color: #064E3B;
    padding: 10px;
    color: white;
}

#btn-translate:hover{
    box-shadow: 3px 3px black;
    cursor:pointer;
}

h3{
    background-color:black;
    padding: 1rem;
    text-align: center;
    color:white;
    margin-top: 0%;
}

.section-blue{
    text-align: center;
    background-color: var(--primary-purple);  
}

#txt-output{
    width: 400px;
	height: 120px;
    border: 1px solid; 
    display: block;
    margin:auto;
    background-color: white;
}

.footer{
    background-color: var(--primary-purple);
    padding: 1rem 0rem;
    text-align: center;
    color: white;
    border-radius: 0rem 0rem 5rem 5rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
     
}

.footer .links{
    color: white;
    text-decoration: none;
}

.footer ul{
    padding-inline-start: 0%;
}